<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Home</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    <body>
        <div align="center" class="mt-5">
            <h2>Welcome to SBIP Sepolia Testnet</h2>
            <div class="py-3">
                <button class="btn btn-outline-primary mx-1" onclick="location.href='/send'">Send ETH</button>
                <button class="btn btn-outline-primary mx-1" onclick="location.href='/get-balance'">Show ETH Balance</button>
            </div>
        </div>
    </body>
</html>